@import 'tailwindcss';

body {
  background-color: #020617;
}

* {
  cursor:
    url('/cursor.svg') 2 2,
    auto;
}

button:disabled,
button[disabled],
[aria-disabled='true'] {
  cursor: not-allowed;
}
